transformers
bitsandbytes
accelerate
huggingface_hub
ipykernel
tiktoken
wandb
torch
trl
sentencepiece
pandas
openpyxl
cohere
pinecone-client
anthropic
streamlit
llama-index
llama-index-llms-anthropic
llama-index-vector-stores-pinecone